.DS_Store
/tqh-site/.setting/
/tqh-site/.classpath
/tqh-site/.project
/tqh-site/.settings/org.eclipse.jdt.core.prefs
/tqh-site/.settings/org.eclipse.wst.common.component
/tqh-site/.settings/org.eclipse.wst.common.project.facet.core.xml
/tqh-site/.settings/org.maven.ide.eclipse.prefs
/tqh-site/target/
/tqh-site/bin
/tqh-site/.settings/com.springsource.sts.maven.prefs
/tqh-site/.settings/org.eclipse.core.resources.prefs
/tqh-site/.settings/org.eclipse.m2e.core.prefs
/.idea/
/sports.iml
/tqh-site/film-core-service.iml
/*.project

/target/
/tqh-site/.classpath
/tqh-site/.project

*.class
*.apk
target/
bin/
.settings/